
<%- include('./includ/layout-start')%>

<main>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex">
      <p class="h2"><a href="/index" class="navbar-brand">Library</a></p>
      <div class="container d-flex justify-content-end" style="gap: 10px;">
        <form  action="/index/profile" class="d-flex" role="search">
          <button class="btn btn-outline-info" type="submit">Profile</button>
        </form>
        <form  action="/index/logout" class="d-flex" role="search">
          <button class="btn btn-outline-danger" type="submit">Exit</button>
        </form>
      </div>
    </div>
  </nav>
    <div class="container text-right" >
        <a href="index/create"><button type="button" class="btn btn-primary">Create book</button></a>
    </div>
    <div class="container text-center" >
        <ul class="list-group list-group-flush">
            <% books.forEach(item => { %>
                <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-5">
                        <li class="list-group-item"><%= item.title %></li>
                      </div>
                      <div class="col-sm-7">
                        <div class="row">
                          <div class="col-9 col-xs-6">
                            <form action="index/delete/<%= item._id %>" method="POST" class="d-inline">
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="index/edit/<%= item._id %>"><button type="button" class="btn btn-info">Edit</button></a>
                            <a href="index/pages/view/<%= item._id %>"><button type="button" class="btn btn-success">Description</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <% }) %>
          </ul>
    </div>
</main>

<%- include('./includ/layout-end')%>